__pycache__/
*.py[cod]
.superpowers/

tauri_control_console/node_modules/
tauri_control_console/dist/
tauri_control_console/src-tauri/target/
release_artifacts/

*.log
*.jou
*.pb
*.backup.*
*_backup*.v
*_backup*.sv
*_Backup*.xdc
xsim.dir/
